# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
# Visual Studio cache/options directory
.vs/
# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
# Test results
TestResults/
[Tt]est[Rr]esult*/
# Rider / VS Code
.idea/
.vscode/
# Mono auto generated
mono_crash.*
# OS files
.DS_Store
Thumbs.db
Image_Reconstruction_Classifier/Khaled/MyCloudProject/appsettings.Development.json
Image_Reconstruction_Classifier/Khaled/Test_Images_Reconstructed_*/
# Secrets
azure.env